.logo {
  &[href] {
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }

  img {
    display: block;
    width: 46px;
    height: 38px;

    @media (min-width: 768px) {
      width: 63px;
      height: 52px;
    }
  }
}
