@keyframes menu-mobile {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes modal {
  from {
    transform: translate(50%, -50%) scale(0);
  }

  to {
    transform: translate(50%, -50%) scale(1);
  }
}
