// Задаём цвета сайта
$colorWhite: #ffffff;
$colorGray: #e1e1e1;

$colorPrimary: #fac663;
$colorSecondary: #ff7236;

$colorText: #1a212f;
$colorTextTestimonials: #848484;
$colorTextFooter: #8f8f8f;
$colorTextPlaceholder: #b5b5b5;

$colorLine: #efefef;

$colorBackground: #fffefd;
$colorBackgroundHero: #f3b55e;
$colorBackgroundGradient1: #fdcf5f;
$colorBackgroundGradient2: #fcc65c;
$colorBackgroundGradient3: #fdc153;

$colorBorder: #d7d7d7;

$colorShadow: #d0d0d0;
$colorShadowButton: #ad988f;
$colorShadowPopup: #999999;

// Задаём характеристики шрифта и текста
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

$fontSizeTextTiny: 12px;
$fontSizeTextSmall: 14px;
$fontSizeText: 15px;
$fontSizeTextLarge: 16px;

$fontSizeTitleMobile: 28px;
$fontSizeTitleTablet: 36px;
$fontSizeTitleHeroMobile: 44px;
$fontSizeTitleHeroTablet: 62px;
$fontSizeTitleOfferSmall: 24px;
$fontSizeTitleOffer: 37px;
$fontSizeTitleOfferLarge: 56px;

$fontSizeSubtitleSmall: 18px;
$fontSizeSubtitle: 20px;
$fontSizeSubtitleLarge: 22px;

$fontSizeQuoteMobile: 54px;
$fontSizeQuoteTablet: 72px;

$lineHeightSmall: 1.1875;
$lineHeightNormal: 1.2;
$lineHeightLarge: 1.4;

$lineHeightTextTiny: 14px;
$lineHeightTextSmall: 17px;

$lineHeightTitleMobile: 33px;
$lineHeightTitleTablet: 43px;
$lineHeightTitleSmall: 28px;

$fontFamilyText: "Lato", "Arial", sans-serif;
$fontFamilyTitle: "Rubik", "Arial", sans-serif;
